.postBlock{
    display:flex;
    flex-direction: column;
}

.postBlock > h3 {
    padding-left: 2%;
}

.posts {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.requisitionForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.requisitionForm * {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.fab {
    position: fixed !important;
    right: 20px;
    bottom: 30px;
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 #not-found-error {
    padding-top: 1%;
    padding-bottom: 0.5%;
} 

.notFound img{
    width: 90vw;
    max-height: 75vh;
}

.landing-page {
    display: flex;
    flex-direction: row;
    height: 65vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.landing-page p{
    margin-top: 5%;
    margin-bottom: 5%;
}

.landing-page h4{
    margin-top: 3%;
    margin-bottom: 3%;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-form button {
    margin-top: 5%;
}
